/* mobile */

@media only screen and (max-width: 900px) {
    header {
        background-color: #8E5D52;
        justify-content: space-between;
    }
    /*
        CABEÇALHO
    */
    .header__navigation {
        display: none;
    }
    .header__lateral-menu-btn {
        display: block;
    }
    .header__lateral-navigation {
        display: flex;
    }
    .header__lateral-navigation--active {
        left: 0;
        top: 0;
    }
    /* PRINCIPAL */
    .introduction {
        flex-direction: column;
        gap: 1.5rem;
    }
    .introduction__content {
        align-items: center;
        animation: unset;
    }
    .introduction__title {
        font-size: 1.8rem
    }
    .introduction__content .introduction__description {
        text-align: center;
    }
    .introduction__balle-avatar {
        width: 70%;
    }
    .introduction__action-btn {
        width: 8.4rem;
    }
    .introduction__action-btn:hover {
        transform: unset;
    }
    .introduction__balle-avatar:hover {
        transform: unset;
    }
    /* RODAPÉ */
    .footer__logo {
        text-align: center;
    }
    .footer__logo img {
        width: 50%;
    }
}


/* tablet */

@media only screen and (min-width: 700px) and (max-width: 900px) {
    .introduction__balle-avatar {
        width: 50%;
    }
}